/* EB Garamond Font */
@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EBGaramond[wght].ttf") format("truetype-variations");
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EBGaramond-Italic[wght].ttf") format("truetype-variations");
  font-weight: 400 800;
  font-style: italic;
  font-display: swap;
}

/* Geist Font */
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Geist Font */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* JetBrains Mono Font */
@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono[wght].ttf") format("truetype-variations");
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}