@import 'tailwindcss';

body {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  border: 1px solid rgb(40, 39, 38);
  height: calc(100vh - 2px);
  border-radius: 10px;
}

:root {
  --font-serif: 'EB Garamond', serif;
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@theme inline {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}
